USE [master]
GO
/****** Object:  Database [DWH]    Script Date: 5/9/2026 5:02:13 PM ******/
CREATE DATABASE [DWH]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DWH', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DWH.mdf' , SIZE = 991232KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DWH_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DWH_log.ldf' , SIZE = 335872KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DWH].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DWH]
GO
/****** Object:  Schema [bronze]    Script Date: 5/9/2026 5:02:13 PM ******/
CREATE SCHEMA [bronze]
GO
/****** Object:  Schema [gold]    Script Date: 5/9/2026 5:02:13 PM ******/
CREATE SCHEMA [gold]
GO
/****** Object:  Schema [silver]    Script Date: 5/9/2026 5:02:13 PM ******/
CREATE SCHEMA [silver]
GO
/****** Object:  Table [bronze].[olist_customers]    Script Date: 5/9/2026 5:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bronze].[olist_customers](
	[customer_id] [nvarchar](255) NULL,
	[customer_unique_id] [nvarchar](255) NULL,
	[customer_zip_code_prefix] [nvarchar](255) NULL,
	[customer_city] [nvarchar](255) NULL,
	[customer_state] [nvarchar](255) NULL,
	[Ingestion_DateTime] [datetime] NULL,
	[Source_File] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [bronze].[olist_geolocation]    Script Date: 5/9/2026 5:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bronze].[olist_geolocation](
	[geolocation_zip_code_prefix] [nvarchar](255) NULL,
	[geolocation_lat] [nvarchar](255) NULL,
	[geolocation_lng] [nvarchar](255) NULL,
	[geolocation_city] [nvarchar](255) NULL,
	[geolocation_state] [nvarchar](255) NULL,
	[Ingestion_DateTime] [datetime] NULL,
	[Source_File] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [bronze].[olist_order_items]    Script Date: 5/9/2026 5:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bronze].[olist_order_items](
	[order_id] [nvarchar](255) NULL,
	[order_item_id] [nvarchar](255) NULL,
	[product_id] [nvarchar](255) NULL,
	[seller_id] [nvarchar](255) NULL,
	[shipping_limit_date] [nvarchar](255) NULL,
	[price] [nvarchar](255) NULL,
	[freight_value] [nvarchar](255) NULL,
	[Ingestion_DateTime] [datetime] NULL,
	[Source_File] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [bronze].[olist_order_payments]    Script Date: 5/9/2026 5:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bronze].[olist_order_payments](
	[order_id] [nvarchar](255) NULL,
	[payment_sequential] [nvarchar](255) NULL,
	[payment_type] [nvarchar](255) NULL,
	[payment_installments] [nvarchar](255) NULL,
	[payment_value] [nvarchar](255) NULL,
	[Ingestion_DateTime] [datetime] NULL,
	[Source_File] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [bronze].[olist_order_reviews]    Script Date: 5/9/2026 5:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bronze].[olist_order_reviews](
	[review_id] [nvarchar](255) NULL,
	[order_id] [nvarchar](255) NULL,
	[review_score] [nvarchar](255) NULL,
	[review_comment_title] [nvarchar](255) NULL,
	[review_comment_message] [nvarchar](max) NULL,
	[review_creation_date] [nvarchar](255) NULL,
	[review_answer_timestamp] [nvarchar](255) NULL,
	[Ingestion_DateTime] [datetime] NULL,
	[Source_File] [nvarchar](255) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [bronze].[olist_orders]    Script Date: 5/9/2026 5:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bronze].[olist_orders](
	[order_id] [nvarchar](255) NULL,
	[customer_id] [nvarchar](255) NULL,
	[order_status] [nvarchar](255) NULL,
	[order_purchase_timestamp] [nvarchar](255) NULL,
	[order_approved_at] [nvarchar](255) NULL,
	[order_delivered_carrier_date] [nvarchar](255) NULL,
	[order_delivered_customer_date] [nvarchar](255) NULL,
	[order_estimated_delivery_date] [nvarchar](255) NULL,
	[Ingestion_DateTime] [datetime] NULL,
	[Source_File] [nvarchar](255) NULL,
	[Hash_code] [nvarchar](500) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [bronze].[olist_products]    Script Date: 5/9/2026 5:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bronze].[olist_products](
	[product_id] [nvarchar](255) NULL,
	[product_category_name] [nvarchar](255) NULL,
	[product_name_lenght] [nvarchar](255) NULL,
	[product_description_lenght] [nvarchar](255) NULL,
	[product_photos_qty] [nvarchar](255) NULL,
	[product_weight_g] [nvarchar](255) NULL,
	[product_length_cm] [nvarchar](255) NULL,
	[product_height_cm] [nvarchar](255) NULL,
	[product_width_cm] [nvarchar](255) NULL,
	[Ingestion_DateTime] [datetime] NULL,
	[Source_File] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [bronze].[olist_sellers]    Script Date: 5/9/2026 5:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bronze].[olist_sellers](
	[seller_id] [nvarchar](255) NULL,
	[seller_zip_code_prefix] [nvarchar](255) NULL,
	[seller_city] [nvarchar](255) NULL,
	[seller_state] [nvarchar](255) NULL,
	[Ingestion_DateTime] [datetime] NULL,
	[Source_File] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [bronze].[product_category_name_translation]    Script Date: 5/9/2026 5:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bronze].[product_category_name_translation](
	[product_category_name] [nvarchar](255) NULL,
	[product_category_name_english] [nvarchar](255) NULL,
	[Ingestion_DateTime] [datetime] NULL,
	[Source_File] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [gold].[agg_customer_360]    Script Date: 5/9/2026 5:02:13 PM ******/
/******SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gold].[agg_customer_360](
	[customer_unique_id] [nvarchar](50) NOT NULL,
	[city] [nvarchar](100) NULL,
	[state] [nvarchar](50) NULL,
	[total_orders] [int] NOT NULL,
	[total_spent] [decimal](14, 2) NOT NULL,
	[avg_order_value] [decimal](10, 2) NULL,
	[first_order_date] [datetime] NULL,
	[last_order_date] [datetime] NULL,
	[customer_lifespan_days] [int] NULL,
	[avg_review_score] [decimal](4, 2) NULL,
	[last_refreshed_at] [datetime] NOT NULL
) ON [PRIMARY]
GO******/
/****** Object:  Table [gold].[agg_seller_performance]    Script Date: 5/9/2026 5:02:13 PM ******/
/******SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gold].[agg_seller_performance](
	[seller_id] [nvarchar](50) NOT NULL,
	[seller_city] [nvarchar](100) NULL,
	[seller_state] [nvarchar](2) NULL,
	[total_orders] [int] NOT NULL,
	[total_items_sold] [int] NOT NULL,
	[total_revenue] [decimal](14, 2) NOT NULL,
	[total_freight] [decimal](14, 2) NOT NULL,
	[avg_review_score] [decimal](4, 2) NULL,
	[avg_delivery_days] [decimal](6, 2) NULL,
	[last_refreshed_at] [datetime] NOT NULL
) ON [PRIMARY]
GO******/
/****** Object:  Table [gold].[dim_customers]    Script Date: 5/9/2026 5:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gold].[dim_customers](
	[customer_id] [nvarchar](255) NOT NULL,
	[customer_unique_id] [nvarchar](255) NOT NULL,
	[customer_city] [nvarchar](255) NULL,
	[customer_state] [nvarchar](255) NULL,
	[zip_code_prefix] [nvarchar](255) NULL,
	[geolocation_lat] [decimal](10, 6) NULL,
	[geolocation_lng] [decimal](10, 6) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [gold].[dim_date]    Script Date: 5/9/2026 5:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gold].[dim_date](
	[date_id] [int] NOT NULL,
	[full_date] [date] NOT NULL,
	[year] [smallint] NOT NULL,
	[quarter] [tinyint] NOT NULL,
	[month] [tinyint] NOT NULL,
	[month_name] [nvarchar](20) NOT NULL,
	[week_of_year] [tinyint] NOT NULL,
	[day_of_month] [tinyint] NOT NULL,
	[day_name] [nvarchar](20) NOT NULL,
	[is_weekend] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [gold].[dim_products]    Script Date: 5/9/2026 5:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gold].[dim_products](
	[product_id] [nvarchar](255) NOT NULL,
	[product_category_name] [nvarchar](255) NULL,
	[category_english] [nvarchar](100) NULL,
	[product_weight_g] [decimal](10, 2) NULL,
	[product_length_cm] [decimal](8, 2) NULL,
	[product_height_cm] [decimal](8, 2) NULL,
	[product_width_cm] [decimal](8, 2) NULL,
	[volume_cm3] [decimal](12, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [gold].[dim_sellers]    Script Date: 5/9/2026 5:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gold].[dim_sellers](
	[seller_id] [nvarchar](255) NOT NULL,
	[seller_zip_code_prefix] [nvarchar](255) NOT NULL,
	[seller_city] [nvarchar](255) NOT NULL,
	[seller_state] [nvarchar](255) NOT NULL,
	[geolocation_lat] [decimal](9, 6) NULL,
	[geolocation_lng] [decimal](9, 6) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [gold].[fact_order_items]    Script Date: 5/9/2026 5:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gold].[fact_order_items](
	[order_id] [nvarchar](255) NOT NULL,
	[order_item_id] [tinyint] NOT NULL,
	[customer_id] [nvarchar](255) NOT NULL,
	[product_id] [nvarchar](255) NOT NULL,
	[seller_id] [nvarchar](255) NOT NULL,
	[purchase_date_id] [int] NULL,
	[approved_date_id] [int] NULL,
	[delivered_carrier_date_id] [int] NULL,
	[delivered_customer_date_id] [int] NULL,
	[estimated_delivery_date_id] [int] NULL,
	[order_status] [nvarchar](255) NULL,
	[delivery_performance_status] [nvarchar](255) NULL,
	[delivery_time_days] [int] NULL,
	[delay_vs_estimated] [int] NULL,
	[approval_time_hours] [int] NULL,
	[purchase_at] [datetime] NULL,
	[approved_at] [datetime] NULL,
	[delivered_carrier_at] [datetime] NULL,
	[delivered_customer_at] [datetime] NULL,
	[estimated_delivery_at] [datetime] NULL,
	[total_payment_value] [decimal](12, 2) NULL,
	[payment_installments] [int] NULL,
	[item_count] [int] NULL,
	[total_items_value] [decimal](12, 2) NULL,
	[total_freight_value] [decimal](12, 2) NULL,
	[total_order_value] [decimal](12, 2) NULL,
	[review_score] [int] NULL,
	[sentiment] [nvarchar](255) NULL,
	[review_response_hours] [int] NULL,
	[price] [decimal](10, 2) NOT NULL,
	[freight_value] [decimal](10, 2) NOT NULL,
	[total_item_value] [decimal](10, 2) NOT NULL,
	[shipping_limit_date] [datetime] NULL,
	[product_category_name] [nvarchar](255) NULL,
	[category_english] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [silver].[customers]    Script Date: 5/9/2026 5:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [silver].[customers](
	[customer_id] [nvarchar](255) NOT NULL,
	[customer_unique_id] [nvarchar](255) NOT NULL,
	[zip_code_prefix] [nvarchar](255) NULL,
	[city] [nvarchar](255) NULL,
	[state] [nvarchar](255) NULL,
	[Valid_From] [datetime] NULL,
	[Valid_To] [datetime] NULL,
	[Is_Current] [bit] NULL,
 CONSTRAINT [PK_silver_customers] PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [silver].[geolocation]    Script Date: 5/9/2026 5:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [silver].[geolocation](
	[geolocation_zip_code_prefix] [nvarchar](255) NOT NULL,
	[geolocation_lat] [decimal](9, 6) NOT NULL,
	[geolocation_lng] [decimal](9, 6) NOT NULL,
	[geolocation_city] [nvarchar](255) NOT NULL,
	[geolocation_state] [nvarchar](255) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [silver].[order_items]    Script Date: 5/9/2026 5:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [silver].[order_items](
	[order_id] [nvarchar](255) NOT NULL,
	[order_item_id] [tinyint] NOT NULL,
	[product_id] [nvarchar](255) NOT NULL,
	[seller_id] [nvarchar](255) NOT NULL,
	[shipping_limit_date] [datetime] NULL,
	[price] [decimal](10, 2) NOT NULL,
	[freight_value] [decimal](10, 2) NOT NULL,
	[total_item_value] [decimal](10, 2) NOT NULL,
	[Ingestion_DateTime] [datetime] NOT NULL,
	[Source_File] [nvarchar](255) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [silver].[orders]    Script Date: 5/9/2026 5:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [silver].[orders](
	[order_id] [nvarchar](255) NOT NULL,
	[customer_id] [nvarchar](255) NOT NULL,
	[order_status] [nvarchar](255) NULL,
	[purchase_at] [datetime] NULL,
	[approved_at] [datetime] NULL,
	[delivered_carrier_at] [datetime] NULL,
	[delivered_customer_at] [datetime] NULL,
	[estimated_delivery_at] [datetime] NULL,
	[delivery_time_days]  AS (datediff(day,[purchase_at],[delivered_customer_at])),
	[delay_vs_estimated]  AS (datediff(day,[estimated_delivery_at],[delivered_customer_at])),
	[approval_time_hours]  AS (datediff(hour,[purchase_at],[approved_at])),
	[delivery_performance_status]  AS (case when [delivered_customer_at]<=[estimated_delivery_at] then 'On Time' when [delivered_customer_at]>[estimated_delivery_at] then 'Late' else 'In Progress' end),
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [silver].[payments]    Script Date: 5/9/2026 5:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [silver].[payments](
	[order_id] [nvarchar](255) NOT NULL,
	[payment_sequential] [int] NOT NULL,
	[payment_type] [nvarchar](255) NULL,
	[payment_installments] [int] NULL,
	[payment_value] [decimal](10, 2) NULL,
	[created_at] [datetime] NULL,
 CONSTRAINT [PK_silver_payments] PRIMARY KEY CLUSTERED 
(
	[order_id] ASC,
	[payment_sequential] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [silver].[product_category_name_translation]    Script Date: 5/9/2026 5:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [silver].[product_category_name_translation](
	[product_category_name] [nvarchar](255) NOT NULL,
	[product_category_name_english] [nvarchar](255) NOT NULL,
	[Ingestion_DateTime] [datetime] NOT NULL,
	[Source_File] [nvarchar](255) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [silver].[products]    Script Date: 5/9/2026 5:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [silver].[products](
	[product_id] [nvarchar](255) NOT NULL,
	[product_category_name] [nvarchar](255) NULL,
	[product_weight_g] [decimal](10, 2) NULL,
	[product_length_cm] [decimal](8, 2) NULL,
	[product_height_cm] [decimal](8, 2) NULL,
	[product_width_cm] [decimal](8, 2) NULL,
	[volume_cm3] [decimal](12, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [silver].[reviews]    Script Date: 5/9/2026 5:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [silver].[reviews](
	[review_id] [nvarchar](255) NOT NULL,
	[order_id] [nvarchar](50) NOT NULL,
	[review_score] [int] NOT NULL,
	[review_comment_title] [nvarchar](100) NULL,
	[review_comment_message] [nvarchar](500) NULL,
	[review_creation_dt] [datetime] NULL,
	[review_answer_dt] [datetime] NULL,
	[response_hours] [int] NULL,
	[sentiment] [nvarchar](20) NULL,
	[created_at] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [silver].[sellers]    Script Date: 5/9/2026 5:02:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [silver].[sellers](
	[seller_id] [nvarchar](255) NOT NULL,
	[seller_zip_code_prefix] [nvarchar](255) NOT NULL,
	[seller_city] [nvarchar](255) NOT NULL,
	[seller_state] [nvarchar](255) NOT NULL,
	[Valid_From] [datetime] NULL,
	[Valid_To] [datetime] NULL,
	[Is_Current] [bit] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_silver_oi_product]    Script Date: 5/9/2026 5:02:13 PM ******/
CREATE NONCLUSTERED INDEX [IX_silver_oi_product] ON [silver].[order_items]
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_silver_oi_seller]    Script Date: 5/9/2026 5:02:13 PM ******/
CREATE NONCLUSTERED INDEX [IX_silver_oi_seller] ON [silver].[order_items]
(
	[seller_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_silver_orders_customer]    Script Date: 5/9/2026 5:02:13 PM ******/
CREATE NONCLUSTERED INDEX [IX_silver_orders_customer] ON [silver].[orders]
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_silver_orders_status]    Script Date: 5/9/2026 5:02:13 PM ******/
CREATE NONCLUSTERED INDEX [IX_silver_orders_status] ON [silver].[orders]
(
	[order_status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_silver_payments_order]    Script Date: 5/9/2026 5:02:13 PM ******/
CREATE NONCLUSTERED INDEX [IX_silver_payments_order] ON [silver].[payments]
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_silver_reviews_order]    Script Date: 5/9/2026 5:02:13 PM ******/
CREATE NONCLUSTERED INDEX [IX_silver_reviews_order] ON [silver].[reviews]
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [bronze].[olist_customers] ADD  DEFAULT (getdate()) FOR [Ingestion_DateTime]
GO
ALTER TABLE [bronze].[olist_geolocation] ADD  DEFAULT (getdate()) FOR [Ingestion_DateTime]
GO
ALTER TABLE [bronze].[olist_order_items] ADD  DEFAULT (getdate()) FOR [Ingestion_DateTime]
GO
ALTER TABLE [bronze].[olist_order_payments] ADD  DEFAULT (getdate()) FOR [Ingestion_DateTime]
GO
ALTER TABLE [bronze].[olist_order_reviews] ADD  DEFAULT (getdate()) FOR [Ingestion_DateTime]
GO
ALTER TABLE [bronze].[olist_orders] ADD  DEFAULT (getdate()) FOR [Ingestion_DateTime]
GO
ALTER TABLE [bronze].[olist_products] ADD  DEFAULT (getdate()) FOR [Ingestion_DateTime]
GO
ALTER TABLE [bronze].[olist_sellers] ADD  DEFAULT (getdate()) FOR [Ingestion_DateTime]
GO
ALTER TABLE [bronze].[product_category_name_translation] ADD  DEFAULT (getdate()) FOR [Ingestion_DateTime]
GO
ALTER TABLE [silver].[orders] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [silver].[orders] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
USE [master]
GO
